/* Contenedor del slider */
.slider {
    width: 95%;
    margin: auto;
    overflow: hidden; /* Oculta el desbordamiento de los elementos fuera del contenedor */
}

/* Contenedor de los elementos del slider */
.slider ul {
    display: flex; /* Coloca los elementos en fila */
    padding: 0;
    width: 400%; /* Asegúrate de que sea 100% por cada elemento en el slider */
    margin: 0; /* Asegúrate de que no haya margen adicional */
    /* Animación de desplazamiento */
    animation: cambio 20s infinite alternate linear;
}

/* Estilo para cada elemento del slider */
.slider li {
    width: 100%; /* Cada elemento debe ocupar el 100% del contenedor */
    list-style: none; /* Elimina los puntos de la lista */
}

/* Definición de la animación */
@keyframes cambio {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    
    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}
