.table-container {
    width: 100%;               /* Ocupa todo el ancho disponible */
    max-width: 1200px;         /* Limita el ancho máximo */
    margin: 10px auto;         /* Centrado horizontal */
    padding: 10px;             /* Espacio alrededor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow-x: auto;          /* Permite scroll horizontal en móviles */
}

.table-container table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;        /* Permite ajustar columnas automáticamente */
    min-width: 600px;          /* Evita que la tabla se vuelva demasiado estrecha */
}

.table-container th,
.table-container td {
    border: 2px solid #cecece;
    text-align: center;
    padding: 7px;
    word-break: break-word;    /* Permite que el texto largo se divida */
}

.table-container th {
    background-color: #f4f4f4;
    font-weight: bold;
    font-family: 'Patria', sans-serif; /* Fuente Patria para encabezados */
}

.table-container tr:nth-child(even) {
    background-color: #dddddd;
}

/* Media query para móviles */
@media (max-width: 768px) {
    .table-container table {
        min-width: unset;      /* Permite que la tabla se adapte al contenedor */
    }

    .table-container th,
    .table-container td {
        font-size: 14px;       /* Ajusta tamaño de fuente en móviles */
        padding: 5px;
    }
}
